In [2]:
import os
import numpy as np
import pandas as pd

file_dir = './repos/atp-matches-dataset/'
data_list = []
for file in os.listdir(file_dir):
     data_list.append(pd.read_csv(file_dir + file))
        
df = pd.concat(data_list, ignore_index=True)

In [3]:
df.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
53566,2014-D078,Davis Cup G2 PO: IRL vs EGY,Hard,4,D,20140404.0,4.0,106387,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53567,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,1.0,108749,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53568,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,2.0,104467,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53569,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,3.0,104467,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53570,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,4.0,109336,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(53571, 49)

In [22]:
df.dtypes

tourney_id             object
tourney_name           object
surface                object
draw_size              object
tourney_level          object
tourney_date          float64
match_num             float64
winner_id              object
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
winner_rank           float64
winner_rank_points    float64
loser_id              float64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
loser_rank            float64
loser_rank_points     float64
score                  object
best_of               float64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
dtype: object

In [5]:
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2008-338,Sydney,Hard,32,A,20080107.0,1.0,104755,1.0,NaN,...,4.0,2.0,4.0,66.0,41.0,29.0,11.0,10.0,1.0,3.0
1,2008-338,Sydney,Hard,32,A,20080107.0,2.0,104098,NaN,NaN,...,4.0,2.0,1.0,54.0,37.0,23.0,7.0,9.0,2.0,6.0
2,2008-338,Sydney,Hard,32,A,20080107.0,3.0,103206,NaN,NaN,...,6.0,5.0,1.0,98.0,63.0,34.0,20.0,13.0,6.0,11.0
3,2008-338,Sydney,Hard,32,A,20080107.0,4.0,104269,8.0,NaN,...,8.0,11.0,5.0,99.0,54.0,35.0,19.0,13.0,8.0,13.0
4,2008-338,Sydney,Hard,32,A,20080107.0,5.0,102148,NaN,NaN,...,8.0,3.0,1.0,57.0,31.0,21.0,10.0,10.0,2.0,7.0

In [17]:
df['tourney_id'].value_counts()
# running into a problem with data types and validity
# need unique IDs for each game at each tournament (but tourney_id is bad and tourney_date is bad)
# find some unique id in combining tourney_date and match_number

2010-540              127
2015-540              127
2005-580              127
2003-520              127
2000-520              127
                     ...
Andre Ghem              1
Federico Gaio           1
Nick Hardt              1
Jaume Munar             1
Manuel Castellanos      1
Name: tourney_id, Length: 2852, dtype: int64

In [23]:
df['match_num'].value_counts()

1.0       2406
2.0       2398
3.0       2392
4.0       2315
6.0       1086
          ...
6315.0       1
415.0        1
823.0        1
316.0        1
1550.0       1
Name: match_num, Length: 1226, dtype: int64

In [26]:
df['winner_id'].value_counts()
#need to remove the wonky data

103819               1054
104745                774
104925                695
103970                662
104053                614
                     ...
6-4 6-2 1-6 7-5         1
6-1 6-3 6-4             1
6-2 6-7(2) 7-6(4)       1
6-3 7-5 7-6(3)          1
5-7 7-5 6-3             1
Name: winner_id, Length: 2804, dtype: int64

In [30]:
df[df['tourney_id'].str.contains('a', na=False)]
#appears as if all the shitty data is related...

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
34437,Bernard Tomic,R,193,AUS,23.2033,18.0,1675.0,7-6(5) 7-6(5),3.0,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34439,Marin Cilic,R,198,CRO,27.2663,13.0,2405.0,2-6 7-6(4) 6-4,3.0,QF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34440,Lucas Pouille,R,NaN,FRA,21.8617,78.0,672.0,6-4 6-4,3.0,QF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34442,Tobias Kamke,R,180,GER,29.6235,277.0,185.0,6-2 6-1,3.0,R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34445,Denis Kudla,R,180,USA,23.3812,69.0,719.0,6-3 6-2,3.0,R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37820,Karen Khachanov,R,NaN,RUS,20.6954,52.0,904.0,6-4 6-7(3) 6-3 1-6 7-6(6),5.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37821,Daniil Medvedev,R,NaN,RUS,20.9692,63.0,749.0,3-6 6-4 6-1 1-0 RET,3.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37822,Nenad Zimonjic,R,190,SRB,40.6571,NaN,NaN,Walkover,3.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37823,Marco Chiudinelli,R,185,SUI,35.3895,146.0,414.0,6-4 6-3 6-1,5.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37824,Henri Laaksonen,R,NaN,SUI,24.835,127.0,473.0,4-6 6-2 6-2 7-6(1),5.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
checkThis = ['l_ace']
betterData = df.dropna(subset = checkThis)
betterData.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
53264,2014-605,Tour Finals,Hard,8,F,20141109.0,10.0,105453,4.0,NaN,...,9.0,2.0,3.0,88.0,48.0,30.0,20.0,14.0,4.0,9.0
53265,2014-605,Tour Finals,Hard,8,F,20141109.0,11.0,103819,2.0,NaN,...,4.0,10.0,2.0,60.0,28.0,22.0,15.0,9.0,4.0,6.0
53266,2014-605,Tour Finals,Hard,8,F,20141109.0,12.0,104918,5.0,NaN,...,1.0,4.0,2.0,62.0,33.0,23.0,14.0,10.0,2.0,5.0
53267,2014-605,Tour Finals,Hard,8,F,20141109.0,14.0,104925,1.0,NaN,...,4.0,3.0,6.0,67.0,38.0,29.0,5.0,11.0,3.0,9.0
53268,2014-605,Tour Finals,Hard,8,F,20141109.0,13.0,103819,2.0,NaN,...,6.0,10.0,4.0,123.0,47.0,38.0,36.0,17.0,6.0,9.0

In [35]:
betterData.shape

(44451, 49)

In [36]:
betterData['match_num'].value_counts()

11.0     1071
10.0     1071
8.0      1070
7.0      1070
12.0     1069
         ...
105.0      63
102.0      63
103.0      63
101.0      62
113.0      61
Name: match_num, Length: 127, dtype: int64

In [41]:
betterData['tourney_id'].value_counts()

2008-520    127
2001-560    127
2006-540    127
2001-580    127
2005-540    127
           ...
2014-605     14
2002-605     14
2003-605     13
2004-605     13
2000-605     11
Name: tourney_id, Length: 1072, dtype: int64