In [2]:
import os
import numpy as np
import pandas as pd

file_dir = './repos/atp-matches-dataset/'
data_list = []
for file in os.listdir(file_dir):
     data_list.append(pd.read_csv(file_dir + file))
        
df = pd.concat(data_list, ignore_index=True)

In [3]:
df.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
53566,2014-D078,Davis Cup G2 PO: IRL vs EGY,Hard,4,D,20140404.0,4.0,106387,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53567,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,1.0,108749,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53568,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,2.0,104467,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53569,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,3.0,104467,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53570,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,4.0,109336,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(53571, 49)

In [5]:
df.dtypes

tourney_id             object
tourney_name           object
surface                object
draw_size              object
tourney_level          object
tourney_date          float64
match_num             float64
winner_id              object
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
winner_rank           float64
winner_rank_points    float64
loser_id              float64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
loser_rank            float64
loser_rank_points     float64
score                  object
best_of               float64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
dtype: object

In [6]:
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2008-338,Sydney,Hard,32,A,20080107.0,1.0,104755,1.0,NaN,...,4.0,2.0,4.0,66.0,41.0,29.0,11.0,10.0,1.0,3.0
1,2008-338,Sydney,Hard,32,A,20080107.0,2.0,104098,NaN,NaN,...,4.0,2.0,1.0,54.0,37.0,23.0,7.0,9.0,2.0,6.0
2,2008-338,Sydney,Hard,32,A,20080107.0,3.0,103206,NaN,NaN,...,6.0,5.0,1.0,98.0,63.0,34.0,20.0,13.0,6.0,11.0
3,2008-338,Sydney,Hard,32,A,20080107.0,4.0,104269,8.0,NaN,...,8.0,11.0,5.0,99.0,54.0,35.0,19.0,13.0,8.0,13.0
4,2008-338,Sydney,Hard,32,A,20080107.0,5.0,102148,NaN,NaN,...,8.0,3.0,1.0,57.0,31.0,21.0,10.0,10.0,2.0,7.0

In [7]:
df['tourney_id'].value_counts()
# running into a problem with data types and validity
# need unique IDs for each game at each tournament (but tourney_id is bad and tourney_date is bad)
# find some unique id in combining tourney_date and match_number

2015-520                 127
2013-540                 127
2009-520                 127
2001-560                 127
2009-540                 127
                        ...
Somdev Devvarman           1
Thanasi Kokkinakis         1
Andre Ghem                 1
M Abid Ali Khan Akbar      1
Arturs Lazdins             1
Name: tourney_id, Length: 2852, dtype: int64

In [8]:
df['match_num'].value_counts()

1.0       2406
2.0       2398
3.0       2392
4.0       2315
6.0       1086
          ...
6315.0       1
415.0        1
823.0        1
316.0        1
1550.0       1
Name: match_num, Length: 1226, dtype: int64

In [9]:
df['winner_id'].value_counts()
#need to remove the wonky data

103819                      1054
104745                       774
104925                       695
103970                       662
104053                       614
                            ...
6-7(6) 3-6 7-5 6-2 22-20       1
7-6(4) 5-7 6-2 6-3             1
3-6 2-6 6-2 6-1 1-1 RET        1
6-4 6-7(3) 6-3                 1
6-2 6-4 2-6 6-4                1
Name: winner_id, Length: 2804, dtype: int64

In [10]:
df[df['tourney_id'].str.contains('a', na=False)]
#appears as if all the shitty data is related...

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
34437,Bernard Tomic,R,193,AUS,23.2033,18.0,1675.0,7-6(5) 7-6(5),3.0,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34439,Marin Cilic,R,198,CRO,27.2663,13.0,2405.0,2-6 7-6(4) 6-4,3.0,QF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34440,Lucas Pouille,R,NaN,FRA,21.8617,78.0,672.0,6-4 6-4,3.0,QF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34442,Tobias Kamke,R,180,GER,29.6235,277.0,185.0,6-2 6-1,3.0,R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34445,Denis Kudla,R,180,USA,23.3812,69.0,719.0,6-3 6-2,3.0,R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37820,Karen Khachanov,R,NaN,RUS,20.6954,52.0,904.0,6-4 6-7(3) 6-3 1-6 7-6(6),5.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37821,Daniil Medvedev,R,NaN,RUS,20.9692,63.0,749.0,3-6 6-4 6-1 1-0 RET,3.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37822,Nenad Zimonjic,R,190,SRB,40.6571,NaN,NaN,Walkover,3.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37823,Marco Chiudinelli,R,185,SUI,35.3895,146.0,414.0,6-4 6-3 6-1,5.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37824,Henri Laaksonen,R,NaN,SUI,24.835,127.0,473.0,4-6 6-2 6-2 7-6(1),5.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
checkThis = ['l_ace']
betterData = df.dropna(subset = checkThis)
betterData.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
53264,2014-605,Tour Finals,Hard,8,F,20141109.0,10.0,105453,4.0,NaN,...,9.0,2.0,3.0,88.0,48.0,30.0,20.0,14.0,4.0,9.0
53265,2014-605,Tour Finals,Hard,8,F,20141109.0,11.0,103819,2.0,NaN,...,4.0,10.0,2.0,60.0,28.0,22.0,15.0,9.0,4.0,6.0
53266,2014-605,Tour Finals,Hard,8,F,20141109.0,12.0,104918,5.0,NaN,...,1.0,4.0,2.0,62.0,33.0,23.0,14.0,10.0,2.0,5.0
53267,2014-605,Tour Finals,Hard,8,F,20141109.0,14.0,104925,1.0,NaN,...,4.0,3.0,6.0,67.0,38.0,29.0,5.0,11.0,3.0,9.0
53268,2014-605,Tour Finals,Hard,8,F,20141109.0,13.0,103819,2.0,NaN,...,6.0,10.0,4.0,123.0,47.0,38.0,36.0,17.0,6.0,9.0

In [12]:
betterData.shape

(44451, 49)

In [13]:
betterData['match_num'].value_counts()

11.0     1071
10.0     1071
8.0      1070
7.0      1070
12.0     1069
         ...
105.0      63
102.0      63
103.0      63
101.0      62
113.0      61
Name: match_num, Length: 127, dtype: int64

In [14]:
betterData['tourney_id'].value_counts()

2015-580    127
2006-520    127
2001-540    127
2015-560    127
2010-520    127
           ...
2002-605     14
2014-605     14
2003-605     13
2004-605     13
2000-605     11
Name: tourney_id, Length: 1072, dtype: int64

In [15]:
# could change the tourney_date to a date time type 
# data['date'] = pd.to_datetime(data['date']) 
# data.groupby('date').mean().plot()

In [16]:
if betterData['winner_hand'][6] == 'L': 
    print("True")
else: 
    print("False")

False

In [17]:
bestData = betterData.dropna(subset = ['winner_hand', 'loser_hand'])
bestData.shape

(44451, 49)

In [18]:
bestData.groupby('winner_hand').count()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
winner_hand,,,,,,,,,,,,,,,,,,,,,
L,5323,5323,5323,5323,5323,5323,5323,5323,2080,817,...,5323,5323,5323,5323,5323,5323,5323,5323,5323,5323
R,39080,39080,39080,39080,39080,39080,39080,39080,18425,4980,...,39080,39080,39080,39080,39080,39080,39080,39080,39080,39080
U,48,48,48,48,48,48,48,48,0,40,...,48,48,48,48,48,48,48,48,48,48

In [19]:
new_info = bestData.loc[bestData['winner_hand'] == 'U']
#new_info.groupby('winner_name').count()

testing = bestData.loc[bestData['winner_name'] == "Ante Pavic"]
testing.groupby('winner_hand').count()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
winner_hand,,,,,,,,,,,,,,,,,,,,,
U,2,2,2,2,2,2,2,2,0,2,...,2,2,2,2,2,2,2,2,2,2

In [20]:
bestData.groupby('winner_id').count()
#777 different players to get stats on 
bestData.groupby('loser_id').count()

some_losers = bestData['loser_id']
total_losers = []

for elem in some_losers:
    # Check if the element exists in dataframe values
    if elem not in bestData['winner_id'].values:
        total_losers.append(elem)

In [21]:
len(total_losers)

750

In [28]:
#lvl = []
#lvr = []
#rvl = []
#rvr = []

# first thought was to make a dictionary, convert it to a pandas df, then merge... 
# loops/conditionals work but currently jsut using it to validate my later data
test_dict = {}

for i in bestData.index:
    values = []
    if bestData.loc[i, 'winner_hand'] is 'L':
        if bestData.loc[i, 'loser_hand'] is 'L':
            values = [1,0,0,0]
        else: 
            values = [0,1,0,0]
    else: 
        if bestData.loc[i,'loser_hand'] is 'L':
            values = [0,0,1,0]
        else: 
            values = [0,0,0,1]
    test_dict[i] = values
    
test_dict

{0: [0, 0, 0, 1],
 1: [0, 0, 0, 1],
 2: [0, 0, 0, 1],
 3: [1, 0, 0, 0],
 4: [0, 0, 0, 1],
 5: [0, 0, 0, 1],
 6: [0, 0, 0, 1],
 7: [0, 0, 0, 1],
 8: [0, 0, 0, 1],
 9: [0, 1, 0, 0],
 10: [0, 0, 0, 1],
 11: [0, 0, 0, 1],
 12: [0, 0, 1, 0],
 13: [0, 0, 0, 1],
 14: [0, 0, 0, 1],
 15: [0, 0, 0, 1],
 16: [0, 0, 0, 1],
 17: [0, 0, 1, 0],
 18: [0, 0, 0, 1],
 19: [0, 0, 0, 1],
 20: [0, 1, 0, 0],
 21: [0, 0, 0, 1],
 22: [0, 0, 0, 1],
 23: [0, 0, 0, 1],
 24: [0, 0, 0, 1],
 25: [0, 0, 0, 1],
 26: [0, 1, 0, 0],
 27: [0, 0, 0, 1],
 28: [0, 0, 0, 1],
 29: [0, 1, 0, 0],
 30: [0, 0, 1, 0],
 31: [0, 0, 0, 1],
 32: [0, 0, 0, 1],
 33: [0, 0, 1, 0],
 34: [0, 0, 0, 1],
 35: [0, 0, 0, 1],
 36: [0, 1, 0, 0],
 37: [0, 1, 0, 0],
 38: [0, 0, 1, 0],
 39: [0, 1, 0, 0],
 40: [0, 0, 0, 1],
 41: [0, 0, 0, 1],
 42: [0, 0, 0, 1],
 43: [0, 0, 0, 1],
 44: [0, 0, 1, 0],
 45: [0, 0, 0, 1],
 46: [0, 0, 0, 1],
 47: [0, 0, 0, 1],
 48: [0, 0, 0, 1],
 49: [0, 1, 0, 0],
 50: [0, 1, 0, 0],
 51: [0, 1, 0, 0],
 53: [0, 0, 0, 1],
 54: [0, 0, 0, 1],
 55: [0, 0, 0, 1],
 56: [1, 0, 0, 0],
 57: [0, 0, 1, 0],
 58: [0, 0, 0, 1],
 59: [0, 0, 1, 0],
 60: [0, 0, 0, 1],
 61: [0, 0, 0, 1],
 62: [0, 0, 0, 1],
 63: [0, 0, 1, 0],
 64: [0, 0, 0, 1],
 65: [0, 0, 0, 1],
 66: [0, 1, 0, 0],
 67: [0, 0, 0, 1],
 68: [0, 1, 0, 0],
 69: [0, 0, 0, 1],
 70: [0, 0, 0, 1],
 71: [0, 0, 1, 0],
 72: [0, 0, 0, 1],
 73: [0, 1, 0, 0],
 74: [0, 0, 0, 1],
 75: [0, 0, 0, 1],
 76: [1, 0, 0, 0],
 77: [0, 0, 0, 1],
 78: [0, 0, 0, 1],
 79: [0, 0, 0, 1],
 80: [0, 1, 0, 0],
 81: [0, 0, 1, 0],
 82: [0, 0, 0, 1],
 83: [0, 1, 0, 0],
 84: [0, 0, 0, 1],
 85: [0, 0, 1, 0],
 86: [0, 0, 0, 1],
 87: [0, 1, 0, 0],
 88: [0, 1, 0, 0],
 89: [0, 0, 0, 1],
 90: [0, 1, 0, 0],
 91: [0, 1, 0, 0],
 92: [1, 0, 0, 0],
 93: [0, 0, 0, 1],
 94: [0, 0, 0, 1],
 95: [0, 0, 0, 1],
 96: [0, 0, 0, 1],
 97: [0, 0, 0, 1],
 98: [0, 0, 0, 1],
 99: [0, 0, 1, 0],
 100: [0, 0, 0, 1],
 101: [0, 0, 1, 0],
 102: [0, 0, 0, 1],
 103: [0, 0, 1, 0],
 104: [0, 0, 0, 1],
 105: [0, 0, 0, 1],
 106: [0, 1, 0, 0],
 107: [0, 0, 0, 1],
 108: [0, 0, 0, 1],
 109: [0, 0, 0, 1],
 110: [0, 0, 0, 1],
 111: [0, 0, 0, 1],
 112: [0, 0, 0, 1],
 113: [0, 0, 0, 1],
 114: [0, 0, 0, 1],
 115: [0, 1, 0, 0],
 116: [0, 0, 0, 1],
 117: [0, 0, 0, 1],
 118: [0, 0, 0, 1],
 119: [0, 0, 0, 1],
 120: [0, 0, 1, 0],
 121: [0, 0, 0, 1],
 122: [0, 0, 0, 1],
 123: [0, 0, 0, 1],
 124: [0, 0, 0, 1],
 125: [0, 1, 0, 0],
 126: [0, 0, 0, 1],
 127: [0, 0, 0, 1],
 128: [0, 0, 0, 1],
 129: [0, 0, 0, 1],
 130: [0, 0, 0, 1],
 131: [0, 0, 0, 1],
 132: [0, 0, 0, 1],
 133: [0, 0, 0, 1],
 134: [0, 0, 0, 1],
 135: [0, 0, 0, 1],
 136: [0, 1, 0, 0],
 137: [0, 1, 0, 0],
 138: [0, 0, 0, 1],
 139: [0, 0, 0, 1],
 140: [0, 0, 0, 1],
 141: [0, 0, 0, 1],
 143: [0, 0, 0, 1],
 144: [1, 0, 0, 0],
 145: [0, 0, 0, 1],
 146: [0, 0, 0, 1],
 147: [0, 0, 0, 1],
 148: [0, 1, 0, 0],
 149: [0, 0, 0, 1],
 150: [0, 1, 0, 0],
 151: [0, 0, 0, 1],
 152: [0, 0, 0, 1],
 153: [0, 0, 0, 1],
 154: [0, 0, 0, 1],
 155: [0, 0, 0, 1],
 156: [0, 0, 0, 1],
 157: [0, 0, 1, 0],
 158: [0, 1, 0, 0],
 159: [0, 0, 1, 0],
 160: [0, 0, 0, 1],
 161: [0, 0, 0, 1],
 162: [0, 0, 0, 1],
 163: [0, 0, 1, 0],
 164: [0, 0, 0, 1],
 165: [0, 0, 0, 1],
 166: [0, 0, 0, 1],
 167: [0, 0, 0, 1],
 168: [0, 0, 0, 1],
 169: [0, 0, 0, 1],
 170: [0, 0, 1, 0],
 171: [0, 0, 0, 1],
 172: [0, 0, 0, 1],
 173: [0, 0, 0, 1],
 174: [0, 0, 0, 1],
 175: [0, 0, 0, 1],
 176: [0, 0, 0, 1],
 177: [0, 0, 0, 1],
 178: [0, 0, 0, 1],
 179: [0, 0, 0, 1],
 180: [0, 0, 0, 1],
 181: [0, 0, 0, 1],
 182: [0, 0, 0, 1],
 183: [0, 0, 0, 1],
 184: [0, 0, 1, 0],
 185: [0, 0, 1, 0],
 186: [0, 0, 0, 1],
 187: [0, 0, 0, 1],
 188: [0, 0, 0, 1],
 189: [0, 0, 1, 0],
 190: [0, 0, 0, 1],
 191: [0, 0, 1, 0],
 192: [0, 1, 0, 0],
 193: [0, 0, 0, 1],
 194: [0, 0, 0, 1],
 195: [0, 0, 0, 1],
 196: [0, 0, 0, 1],
 197: [0, 0, 0, 1],
 198: [0, 0, 0, 1],
 199: [0, 0, 0, 1],
 200: [0, 0, 0, 1],
 201: [0, 0, 0, 1],
 202: [0, 0, 0, 1],
 203: [0, 0, 1, 0],
 204: [0, 0, 0, 1],
 205: [0, 0, 0, 1],
 206: [0, 0, 0, 1],
 207: [0, 0, 0, 1],
 208: [0, 0, 0, 1],
 209: [0, 0, 0, 1],
 210: [0, 0, 0, 1],
 211: [0, 0, 0, 1],
 212: [0, 0, 0, 1],
 213: [0, 1, 0, 0],
 214: [0, 0, 0, 1],
 215: [0, 0, 0, 1],
 216: [0, 0, 1, 0],
 217: [0, 0, 0, 1],
 218: [0, 0, 0, 1],
 219: [0, 0, 0, 1],
 220: [0, 0, 0, 1],
 221: [0, 1, 0, 0],
 222: [0, 0, 1, 0],
 223: [0, 0, 0, 1],
 224: [0, 0, 0, 1],
 225: [0, 0, 1, 0],
 226: [0, 0, 0, 1],
 227: [0, 0, 0, 1],
 228: [0, 0, 0, 1],
 229: [0, 1, 0, 0],
 230: [0, 0, 0, 1],
 231: [0, 0, 0, 1],
 232: [0, 0, 0, 1],
 233: [0, 0, 1, 0],
 234: [0, 0, 0, 1],
 235: [0, 0, 0, 1],
 236: [0, 0, 0, 1],
 237: [0, 1, 0, 0],
 238: [0, 0, 0, 1],
 239: [0, 0, 0, 1],
 240: [0, 0, 0, 1],
 241: [0, 1, 0, 0],
 242: [0, 0, 0, 1],
 243: [0, 0, 1, 0],
 244: [0, 0, 0, 1],
 245: [0, 0, 0, 1],
 246: [0, 0, 0, 1],
 247: [0, 0, 1, 0],
 248: [0, 0, 0, 1],
 249: [0, 0, 0, 1],
 250: [0, 0, 1, 0],
 251: [0, 0, 1, 0],
 252: [0, 0, 0, 1],
 253: [0, 0, 0, 1],
 254: [0, 0, 0, 1],
 255: [0, 0, 0, 1],
 256: [0, 0, 0, 1],
 257: [0, 0, 0, 1],
 258: [0, 0, 0, 1],
 259: [0, 0, 0, 1],
 260: [0, 0, 0, 1],
 261: [0, 0, 0, 1],
 262: [0, 0, 0, 1],
 263: [0, 0, 0, 1],
 264: [0, 0, 0, 1],
 265: [0, 0, 1, 0],
 266: [0, 0, 0, 1],
 267: [0, 0, 0, 1],
 268: [0, 0, 0, 1],
 269: [0, 0, 0, 1],
 270: [0, 1, 0, 0],
 271: [0, 0, 0, 1],
 272: [0, 1, 0, 0],
 273: [0, 0, 0, 1],
 274: [0, 0, 0, 1],
 275: [0, 1, 0, 0],
 276: [0, 0, 0, 1],
 277: [0, 0, 0, 1],
 278: [0, 0, 0, 1],
 279: [0, 0, 0, 1],
 280: [0, 0, 0, 1],
 281: [0, 0, 0, 1],
 282: [0, 0, 0, 1],
 283: [0, 0, 0, 1],
 284: [0, 0, 0, 1],
 285: [0, 0, 0, 1],
 286: [0, 0, 0, 1],
 287: [0, 0, 0, 1],
 288: [0, 0, 0, 1],
 289: [0, 1, 0, 0],
 290: [0, 0, 1, 0],
 291: [0, 1, 0, 0],
 292: [0, 0, 0, 1],
 293: [0, 0, 0, 1],
 294: [0, 0, 0, 1],
 295: [0, 0, 0, 1],
 296: [0, 0, 0, 1],
 297: [0, 0, 0, 1],
 298: [0, 1, 0, 0],
 299: [0, 1, 0, 0],
 300: [0, 0, 0, 1],
 301: [0, 0, 0, 1],
 302: [0, 0, 0, 1],
 303: [1, 0, 0, 0],
 304: [0, 0, 0, 1],
 305: [0, 1, 0, 0],
 306: [0, 1, 0, 0],
 307: [0, 0, 0, 1],
 308: [0, 0, 0, 1],
 309: [0, 0, 0, 1],
 310: [0, 0, 0, 1],
 311: [0, 0, 0, 1],
 312: [0, 0, 0, 1],
 313: [0, 0, 0, 1],
 314: [0, 0, 0, 1],
 315: [0, 0, 0, 1],
 316: [0, 0, 0, 1],
 317: [0, 0, 0, 1],
 318: [0, 0, 0, 1],
 319: [0, 0, 0, 1],
 320: [0, 0, 0, 1],
 321: [0, 0, 0, 1],
 322: [0, 0, 0, 1],
 323: [0, 0, 0, 1],
 324: [0, 0, 0, 1],
 325: [0, 0, 0, 1],
 326: [0, 0, 0, 1],
 327: [0, 0, 0, 1],
 328: [0, 0, 0, 1],
 329: [0, 0, 0, 1],
 330: [0, 0, 0, 1],
 331: [0, 0, 0, 1],
 332: [0, 0, 0, 1],
 333: [0, 0, 0, 1],
 334: [0, 0, 0, 1],
 335: [0, 0, 0, 1],
 336: [0, 0, 0, 1],
 337: [0, 0, 0, 1],
 338: [0, 0, 0, 1],
 339: [0, 0, 0, 1],
 340: [0, 0, 1, 0],
 341: [0, 0, 0, 1],
 342: [0, 0, 0, 1],
 343: [0, 0, 0, 1],
 344: [0, 0, 0, 1],
 345: [0, 0, 0, 1],
 346: [0, 0, 0, 1],
 347: [0, 0, 0, 1],
 348: [0, 0, 0, 1],
 349: [0, 0, 0, 1],
 350: [0, 0, 1, 0],
 351: [0, 0, 0, 1],
 352: [0, 0, 0, 1],
 353: [0, 0, 0, 1],
 354: [0, 0, 0, 1],
 355: [0, 0, 0, 1],
 356: [0, 0, 0, 1],
 357: [0, 0, 0, 1],
 358: [0, 0, 0, 1],
 359: [0, 0, 0, 1],
 360: [0, 0, 0, 1],
 361: [0, 0, 0, 1],
 362: [0, 0, 0, 1],
 363: [0, 0, 0, 1],
 364: [0, 0, 0, 1],
 365: [0, 0, 0, 1],
 366: [0, 0, 0, 1],
 367: [0, 0, 0, 1],
 368: [0, 0, 0, 1],
 369: [0, 0, 0, 1],
 370: [0, 0, 0, 1],
 371: [0, 1, 0, 0],
 372: [0, 1, 0, 0],
 373: [0, 0, 0, 1],
 374: [0, 0, 0, 1],
 375: [0, 0, 0, 1],
 376: [0, 0, 0, 1],
 377: [0, 0, 0, 1],
 378: [0, 0, 0, 1],
 379: [0, 0, 0, 1],
 380: [0, 0, 0, 1],
 381: [0, 0, 0, 1],
 382: [0, 0, 0, 1],
 383: [0, 0, 0, 1],
 384: [0, 0, 0, 1],
 385: [0, 0, 0, 1],
 386: [1, 0, 0, 0],
 387: [0, 0, 0, 1],
 388: [0, 0, 0, 1],
 389: [0, 0, 0, 1],
 390: [0, 0, 0, 1],
 391: [0, 0, 0, 1],
 392: [0, 0, 0, 1],
 393: [0, 0, 1, 0],
 394: [0, 0, 0, 1],
 395: [0, 0, 0, 1],
 396: [0, 0, 0, 1],
 397: [0, 0, 0, 1],
 398: [0, 0, 0, 1],
 399: [0, 0, 0, 1],
 400: [0, 0, 0, 1],
 401: [0, 0, 0, 1],
 402: [0, 0, 0, 1],
 403: [0, 0, 0, 1],
 404: [0, 0, 0, 1],
 405: [0, 0, 1, 0],
 406: [0, 0, 1, 0],
 407: [0, 0, 0, 1],
 408: [0, 0, 1, 0],
 409: [0, 0, 0, 1],
 410: [0, 1, 0, 0],
 411: [0, 0, 0, 1],
 412: [0, 0, 0, 1],
 413: [0, 0, 1, 0],
 414: [0, 0, 0, 1],
 415: [0, 0, 0, 1],
 416: [0, 0, 0, 1],
 417: [0, 0, 0, 1],
 418: [0, 0, 0, 1],
 419: [0, 0, 0, 1],
 420: [0, 0, 0, 1],
 421: [0, 0, 1, 0],
 422: [0, 0, 0, 1],
 423: [0, 0, 0, 1],
 424: [0, 0, 0, 1],
 425: [0, 0, 0, 1],
 426: [0, 0, 0, 1],
 427: [0, 0, 0, 1],
 428: [0, 0, 0, 1],
 429: [0, 0, 0, 1],
 430: [0, 0, 0, 1],
 431: [0, 0, 1, 0],
 432: [0, 0, 0, 1],
 433: [0, 0, 0, 1],
 434: [0, 0, 0, 1],
 435: [0, 0, 0, 1],
 436: [0, 0, 0, 1],
 437: [0, 0, 0, 1],
 438: [0, 1, 0, 0],
 439: [0, 0, 0, 1],
 440: [0, 0, 0, 1],
 441: [0, 0, 0, 1],
 442: [0, 0, 0, 1],
 443: [1, 0, 0, 0],
 444: [0, 1, 0, 0],
 445: [0, 0, 1, 0],
 446: [0, 0, 0, 1],
 447: [0, 0, 0, 1],
 448: [0, 0, 0, 1],
 449: [0, 0, 0, 1],
 450: [0, 1, 0, 0],
 451: [0, 0, 0, 1],
 452: [0, 0, 0, 1],
 453: [1, 0, 0, 0],
 454: [0, 0, 0, 1],
 455: [0, 0, 0, 1],
 456: [0, 0, 1, 0],
 457: [0, 0, 0, 1],
 458: [0, 0, 1, 0],
 459: [0, 0, 0, 1],
 460: [0, 0, 0, 1],
 461: [0, 0, 0, 1],
 462: [0, 0, 0, 1],
 463: [0, 0, 0, 1],
 464: [0, 0, 1, 0],
 465: [0, 0, 0, 1],
 466: [0, 1, 0, 0],
 467: [0, 0, 0, 1],
 468: [0, 0, 0, 1],
 469: [0, 0, 0, 1],
 470: [0, 0, 0, 1],
 471: [0, 0, 0, 1],
 472: [0, 0, 0, 1],
 473: [0, 0, 0, 1],
 474: [0, 0, 0, 1],
 475: [0, 0, 0, 1],
 476: [0, 0, 0, 1],
 477: [0, 0, 0, 1],
 478: [0, 0, 0, 1],
 479: [0, 0, 0, 1],
 480: [0, 0, 1, 0],
 481: [0, 0, 0, 1],
 482: [0, 0, 0, 1],
 483: [0, 0, 0, 1],
 484: [0, 0, 0, 1],
 485: [0, 0, 0, 1],
 486: [0, 0, 0, 1],
 487: [0, 0, 0, 1],
 488: [0, 0, 0, 1],
 489: [0, 0, 0, 1],
 490: [0, 0, 0, 1],
 491: [0, 0, 0, 1],
 493: [0, 0, 0, 1],
 494: [0, 0, 0, 1],
 495: [0, 0, 0, 1],
 496: [0, 0, 0, 1],
 497: [0, 0, 0, 1],
 498: [0, 1, 0, 0],
 499: [0, 0, 0, 1],
 500: [0, 0, 0, 1],
 501: [0, 0, 0, 1],
 502: [0, 0, 0, 1],
 503: [0, 0, 0, 1],
 504: [0, 0, 0, 1],
 505: [0, 0, 0, 1],
 506: [0, 0, 0, 1],
 507: [0, 0, 0, 1],
 508: [0, 0, 0, 1],
 509: [0, 0, 0, 1],
 510: [0, 0, 0, 1],
 511: [0, 0, 1, 0],
 512: [0, 0, 0, 1],
 513: [0, 0, 0, 1],
 514: [0, 0, 0, 1],
 515: [0, 0, 0, 1],
 516: [0, 0, 0, 1],
 517: [0, 0, 0, 1],
 518: [0, 0, 0, 1],
 519: [0, 0, 0, 1],
 520: [0, 0, 0, 1],
 521: [0, 0, 0, 1],
 522: [0, 0, 0, 1],
 523: [0, 0, 0, 1],
 524: [0, 0, 0, 1],
 525: [0, 0, 0, 1],
 526: [0, 0, 0, 1],
 527: [0, 0, 0, 1],
 528: [0, 0, 0, 1],
 529: [0, 0, 0, 1],
 530: [0, 0, 0, 1],
 531: [0, 0, 0, 1],
 532: [0, 0, 0, 1],
 533: [0, 0, 0, 1],
 534: [0, 0, 0, 1],
 535: [0, 0, 0, 1],
 536: [0, 1, 0, 0],
 537: [0, 0, 0, 1],
 538: [0, 0, 0, 1],
 539: [0, 0, 0, 1],
 540: [0, 0, 0, 1],
 541: [0, 0, 0, 1],
 542: [0, 0, 0, 1],
 543: [0, 0, 0, 1],
 544: [0, 0, 0, 1],
 545: [0, 0, 0, 1],
 546: [0, 0, 1, 0],
 547: [0, 0, 0, 1],
 548: [0, 0, 0, 1],
 549: [0, 0, 0, 1],
 550: [0, 0, 0, 1],
 551: [0, 0, 0, 1],
 552: [0, 0, 0, 1],
 553: [0, 0, 0, 1],
 554: [0, 0, 0, 1],
 555: [0, 0, 0, 1],
 556: [0, 0, 0, 1],
 557: [0, 0, 1, 0],
 558: [0, 0, 0, 1],
 559: [0, 0, 0, 1],
 560: [0, 0, 0, 1],
 561: [1, 0, 0, 0],
 562: [0, 0, 0, 1],
 563: [0, 0, 0, 1],
 564: [0, 0, 0, 1],
 565: [0, 0, 0, 1],
 566: [0, 0, 0, 1],
 567: [0, 0, 0, 1],
 568: [0, 0, 0, 1],
 569: [0, 0, 0, 1],
 570: [0, 0, 0, 1],
 571: [0, 0, 0, 1],
 572: [0, 0, 0, 1],
 573: [0, 0, 0, 1],
 574: [0, 1, 0, 0],
 575: [0, 0, 0, 1],
 576: [0, 0, 0, 1],
 577: [0, 0, 0, 1],
 578: [0, 0, 0, 1],
 579: [0, 0, 0, 1],
 580: [0, 0, 1, 0],
 581: [0, 0, 0, 1],
 582: [0, 0, 0, 1],
 583: [0, 0, 0, 1],
 584: [0, 0, 0, 1],
 585: [0, 0, 0, 1],
 586: [0, 0, 0, 1],
 587: [0, 0, 0, 1],
 588: [0, 0, 0, 1],
 589: [0, 0, 0, 1],
 590: [0, 0, 1, 0],
 591: [0, 1, 0, 0],
 592: [0, 0, 0, 1],
 593: [0, 0, 1, 0],
 594: [0, 0, 0, 1],
 595: [0, 1, 0, 0],
 596: [0, 0, 1, 0],
 597: [0, 0, 0, 1],
 598: [0, 0, 0, 1],
 599: [0, 0, 0, 1],
 600: [0, 0, 0, 1],
 601: [0, 0, 0, 1],
 602: [0, 0, 0, 1],
 603: [0, 0, 0, 1],
 604: [0, 0, 1, 0],
 605: [0, 0, 0, 1],
 606: [0, 1, 0, 0],
 607: [0, 0, 0, 1],
 608: [0, 0, 0, 1],
 609: [0, 0, 0, 1],
 610: [0, 0, 0, 1],
 611: [0, 0, 0, 1],
 612: [0, 0, 1, 0],
 613: [0, 0, 0, 1],
 614: [0, 0, 0, 1],
 615: [0, 0, 0, 1],
 616: [0, 0, 0, 1],
 617: [0, 0, 0, 1],
 618: [0, 0, 0, 1],
 619: [0, 0, 0, 1],
 620: [0, 1, 0, 0],
 621: [0, 0, 0, 1],
 622: [0, 0, 0, 1],
 623: [0, 0, 0, 1],
 624: [0, 0, 1, 0],
 625: [0, 0, 0, 1],
 626: [0, 0, 0, 1],
 627: [0, 0, 0, 1],
 628: [0, 0, 0, 1],
 629: [0, 0, 0, 1],
 630: [0, 1, 0, 0],
 631: [0, 0, 0, 1],
 632: [0, 0, 0, 1],
 633: [0, 1, 0, 0],
 634: [0, 0, 0, 1],
 635: [0, 0, 0, 1],
 636: [0, 1, 0, 0],
 637: [0, 0, 0, 1],
 638: [0, 0, 0, 1],
 639: [0, 0, 0, 1],
 640: [0, 0, 0, 1],
 641: [0, 0, 0, 1],
 642: [0, 0, 0, 1],
 643: [0, 0, 1, 0],
 644: [0, 0, 0, 1],
 645: [0, 0, 0, 1],
 646: [0, 0, 1, 0],
 647: [0, 0, 0, 1],
 648: [0, 0, 0, 1],
 649: [0, 1, 0, 0],
 650: [0, 1, 0, 0],
 651: [0, 0, 0, 1],
 652: [0, 0, 0, 1],
 653: [0, 0, 0, 1],
 654: [0, 0, 0, 1],
 655: [0, 0, 0, 1],
 656: [0, 0, 0, 1],
 657: [1, 0, 0, 0],
 658: [0, 0, 0, 1],
 659: [0, 0, 0, 1],
 660: [0, 0, 0, 1],
 661: [0, 0, 1, 0],
 662: [0, 0, 0, 1],
 663: [0, 0, 0, 1],
 664: [0, 0, 0, 1],
 665: [0, 0, 0, 1],
 666: [0, 0, 0, 1],
 667: [0, 0, 0, 1],
 668: [1, 0, 0, 0],
 669: [0, 0, 0, 1],
 670: [0, 0, 0, 1],
 671: [0, 0, 0, 1],
 672: [0, 0, 1, 0],
 673: [0, 0, 0, 1],
 674: [0, 0, 0, 1],
 675: [0, 0, 0, 1],
 676: [0, 0, 0, 1],
 677: [0, 0, 0, 1],
 678: [0, 0, 0, 1],
 679: [0, 0, 0, 1],
 680: [0, 0, 0, 1],
 681: [0, 0, 0, 1],
 682: [0, 1, 0, 0],
 683: [0, 0, 0, 1],
 684: [0, 0, 0, 1],
 685: [0, 0, 0, 1],
 686: [0, 0, 0, 1],
 687: [0, 0, 0, 1],
 688: [0, 0, 0, 1],
 689: [0, 1, 0, 0],
 690: [0, 0, 0, 1],
 692: [0, 0, 1, 0],
 693: [0, 0, 0, 1],
 694: [0, 0, 0, 1],
 695: [0, 0, 0, 1],
 696: [0, 0, 0, 1],
 697: [0, 0, 0, 1],
 698: [0, 0, 1, 0],
 699: [0, 0, 0, 1],
 700: [0, 0, 0, 1],
 701: [0, 0, 1, 0],
 702: [0, 0, 0, 1],
 703: [0, 0, 0, 1],
 704: [0, 0, 1, 0],
 705: [0, 0, 0, 1],
 706: [0, 1, 0, 0],
 707: [0, 0, 1, 0],
 708: [0, 0, 0, 1],
 709: [0, 0, 0, 1],
 710: [0, 0, 0, 1],
 711: [0, 0, 1, 0],
 712: [0, 0, 0, 1],
 713: [0, 0, 0, 1],
 714: [0, 0, 0, 1],
 715: [0, 0, 0, 1],
 716: [0, 1, 0, 0],
 717: [0, 0, 1, 0],
 718: [0, 0, 0, 1],
 719: [0, 0, 0, 1],
 720: [0, 0, 0, 1],
 721: [0, 1, 0, 0],
 722: [0, 1, 0, 0],
 723: [1, 0, 0, 0],
 724: [0, 0, 0, 1],
 725: [0, 0, 0, 1],
 726: [0, 0, 0, 1],
 727: [0, 0, 0, 1],
 728: [0, 0, 0, 1],
 729: [0, 0, 0, 1],
 730: [0, 0, 0, 1],
 731: [0, 0, 0, 1],
 732: [0, 0, 0, 1],
 733: [0, 0, 0, 1],
 734: [0, 0, 0, 1],
 735: [0, 0, 0, 1],
 736: [0, 0, 0, 1],
 737: [0, 0, 0, 1],
 738: [1, 0, 0, 0],
 739: [0, 1, 0, 0],
 740: [1, 0, 0, 0],
 741: [0, 0, 0, 1],
 742: [0, 0, 0, 1],
 743: [0, 0, 0, 1],
 744: [0, 0, 0, 1],
 745: [0, 0, 0, 1],
 746: [0, 0, 0, 1],
 747: [0, 0, 0, 1],
 748: [0, 0, 0, 1],
 749: [0, 0, 1, 0],
 750: [0, 0, 0, 1],
 751: [0, 0, 0, 1],
 752: [0, 0, 0, 1],
 753: [0, 0, 0, 1],
 754: [0, 0, 0, 1],
 755: [0, 0, 0, 1],
 756: [0, 0, 0, 1],
 757: [0, 0, 0, 1],
 758: [1, 0, 0, 0],
 759: [0, 0, 0, 1],
 760: [0, 0, 0, 1],
 761: [0, 0, 0, 1],
 762: [0, 0, 0, 1],
 763: [0, 0, 0, 1],
 764: [0, 1, 0, 0],
 765: [0, 0, 0, 1],
 766: [0, 0, 0, 1],
 767: [0, 0, 0, 1],
 768: [0, 0, 0, 1],
 769: [0, 1, 0, 0],
 770: [0, 0, 0, 1],
 771: [0, 0, 0, 1],
 772: [1, 0, 0, 0],
 773: [0, 1, 0, 0],
 774: [0, 0, 0, 1],
 775: [0, 0, 0, 1],
 776: [0, 0, 0, 1],
 777: [0, 0, 0, 1],
 778: [0, 0, 0, 1],
 779: [0, 0, 0, 1],
 780: [0, 0, 1, 0],
 781: [1, 0, 0, 0],
 782: [0, 0, 0, 1],
 783: [0, 0, 0, 1],
 784: [0, 0, 0, 1],
 785: [0, 0, 0, 1],
 786: [0, 0, 0, 1],
 787: [0, 0, 0, 1],
 788: [0, 0, 0, 1],
 789: [0, 0, 0, 1],
 790: [0, 1, 0, 0],
 791: [0, 0, 0, 1],
 792: [0, 0, 0, 1],
 793: [0, 1, 0, 0],
 794: [0, 0, 0, 1],
 795: [0, 0, 0, 1],
 796: [0, 0, 1, 0],
 797: [0, 0, 1, 0],
 798: [0, 1, 0, 0],
 799: [0, 0, 0, 1],
 800: [0, 0, 0, 1],
 801: [0, 0, 0, 1],
 802: [0, 0, 1, 0],
 803: [0, 0, 0, 1],
 804: [0, 0, 0, 1],
 805: [0, 0, 0, 1],
 806: [0, 1, 0, 0],
 807: [0, 0, 0, 1],
 808: [0, 0, 1, 0],
 809: [0, 0, 0, 1],
 810: [0, 1, 0, 0],
 811: [0, 0, 0, 1],
 812: [0, 0, 0, 1],
 813: [0, 0, 0, 1],
 814: [0, 1, 0, 0],
 815: [0, 0, 0, 1],
 816: [0, 0, 1, 0],
 817: [0, 0, 0, 1],
 818: [0, 1, 0, 0],
 819: [0, 0, 0, 1],
 820: [0, 1, 0, 0],
 821: [0, 1, 0, 0],
 822: [0, 0, 0, 1],
 823: [0, 0, 0, 1],
 824: [0, 1, 0, 0],
 825: [0, 1, 0, 0],
 826: [0, 1, 0, 0],
 827: [0, 0, 0, 1],
 828: [0, 0, 0, 1],
 829: [0, 0, 0, 1],
 830: [0, 0, 0, 1],
 831: [0, 0, 1, 0],
 832: [0, 0, 0, 1],
 833: [0, 0, 0, 1],
 834: [0, 0, 0, 1],
 835: [0, 0, 1, 0],
 836: [1, 0, 0, 0],
 837: [0, 0, 1, 0],
 838: [0, 0, 0, 1],
 839: [0, 0, 0, 1],
 840: [0, 0, 0, 1],
 841: [0, 0, 1, 0],
 842: [0, 0, 0, 1],
 843: [0, 1, 0, 0],
 844: [0, 0, 0, 1],
 845: [0, 0, 0, 1],
 846: [0, 0, 1, 0],
 847: [0, 0, 0, 1],
 848: [0, 0, 0, 1],
 849: [0, 0, 0, 1],
 850: [0, 0, 0, 1],
 851: [0, 0, 1, 0],
 852: [0, 0, 0, 1],
 853: [0, 0, 0, 1],
 854: [0, 0, 0, 1],
 855: [0, 0, 0, 1],
 856: [0, 0, 0, 1],
 857: [0, 0, 0, 1],
 858: [0, 0, 1, 0],
 859: [0, 0, 0, 1],
 860: [0, 0, 0, 1],
 861: [0, 0, 0, 1],
 862: [0, 0, 1, 0],
 863: [0, 0, 0, 1],
 864: [0, 0, 0, 1],
 865: [0, 0, 1, 0],
 866: [0, 0, 0, 1],
 867: [0, 0, 0, 1],
 868: [1, 0, 0, 0],
 869: [0, 1, 0, 0],
 870: [0, 0, 0, 1],
 871: [0, 0, 1, 0],
 872: [0, 0, 0, 1],
 873: [0, 0, 0, 1],
 874: [0, 0, 0, 1],
 875: [0, 0, 0, 1],
 876: [0, 0, 0, 1],
 877: [0, 0, 0, 1],
 878: [0, 0, 0, 1],
 879: [0, 0, 0, 1],
 880: [0, 0, 0, 1],
 881: [0, 0, 0, 1],
 882: [0, 0, 0, 1],
 883: [0, 0, 0, 1],
 884: [0, 0, 0, 1],
 885: [0, 0, 0, 1],
 886: [1, 0, 0, 0],
 887: [0, 0, 0, 1],
 888: [0, 1, 0, 0],
 889: [0, 0, 0, 1],
 890: [0, 0, 0, 1],
 891: [0, 0, 0, 1],
 892: [0, 0, 0, 1],
 893: [0, 0, 0, 1],
 894: [0, 0, 0, 1],
 895: [0, 0, 1, 0],
 896: [0, 1, 0, 0],
 897: [0, 0, 0, 1],
 898: [0, 0, 0, 1],
 899: [0, 0, 0, 1],
 900: [0, 1, 0, 0],
 901: [0, 0, 0, 1],
 902: [0, 0, 1, 0],
 903: [0, 0, 0, 1],
 904: [0, 0, 1, 0],
 905: [0, 0, 0, 1],
 906: [0, 0, 0, 1],
 907: [0, 0, 0, 1],
 908: [0, 0, 0, 1],
 909: [0, 0, 0, 1],
 910: [0, 0, 0, 1],
 911: [0, 0, 0, 1],
 912: [0, 0, 0, 1],
 913: [0, 1, 0, 0],
 914: [0, 0, 0, 1],
 915: [0, 0, 0, 1],
 916: [0, 0, 0, 1],
 917: [0, 0, 0, 1],
 918: [0, 0, 0, 1],
 919: [1, 0, 0, 0],
 920: [0, 0, 0, 1],
 921: [0, 0, 0, 1],
 922: [0, 0, 0, 1],
 923: [0, 0, 0, 1],
 924: [0, 0, 1, 0],
 925: [0, 0, 1, 0],
 926: [0, 0, 0, 1],
 927: [0, 1, 0, 0],
 928: [0, 0, 0, 1],
 929: [0, 0, 0, 1],
 930: [0, 0, 0, 1],
 931: [0, 0, 0, 1],
 932: [0, 0, 0, 1],
 933: [0, 0, 0, 1],
 934: [0, 0, 1, 0],
 935: [0, 0, 0, 1],
 936: [0, 0, 0, 1],
 937: [0, 0, 0, 1],
 938: [0, 0, 1, 0],
 939: [0, 0, 0, 1],
 940: [0, 0, 0, 1],
 941: [0, 0, 0, 1],
 942: [0, 0, 0, 1],
 943: [1, 0, 0, 0],
 944: [0, 0, 0, 1],
 945: [0, 0, 0, 1],
 946: [0, 0, 0, 1],
 947: [0, 0, 0, 1],
 948: [0, 0, 0, 1],
 949: [0, 0, 0, 1],
 950: [0, 0, 0, 1],
 951: [0, 1, 0, 0],
 952: [0, 0, 0, 1],
 953: [0, 0, 0, 1],
 954: [0, 0, 0, 1],
 955: [0, 1, 0, 0],
 956: [0, 0, 0, 1],
 957: [0, 1, 0, 0],
 958: [0, 1, 0, 0],
 959: [0, 0, 0, 1],
 960: [0, 0, 0, 1],
 961: [0, 1, 0, 0],
 962: [0, 0, 0, 1],
 963: [0, 0, 0, 1],
 964: [0, 0, 0, 1],
 965: [0, 1, 0, 0],
 966: [0, 0, 0, 1],
 967: [0, 0, 0, 1],
 968: [0, 0, 0, 1],
 969: [0, 0, 1, 0],
 970: [0, 0, 1, 0],
 971: [0, 0, 0, 1],
 972: [0, 0, 0, 1],
 973: [0, 0, 1, 0],
 974: [0, 0, 0, 1],
 975: [0, 0, 0, 1],
 976: [0, 0, 0, 1],
 977: [0, 0, 0, 1],
 978: [0, 0, 0, 1],
 979: [0, 0, 0, 1],
 980: [0, 0, 1, 0],
 981: [0, 0, 0, 1],
 982: [0, 0, 0, 1],
 983: [0, 1, 0, 0],
 984: [0, 1, 0, 0],
 985: [0, 0, 0, 1],
 986: [0, 0, 0, 1],
 987: [0, 1, 0, 0],
 988: [0, 0, 0, 1],
 989: [0, 0, 0, 1],
 990: [0, 0, 0, 1],
 991: [0, 0, 0, 1],
 992: [0, 0, 0, 1],
 993: [0, 0, 0, 1],
 994: [0, 0, 0, 1],
 995: [0, 0, 0, 1],
 996: [0, 0, 0, 1],
 997: [0, 0, 0, 1],
 998: [0, 0, 0, 1],
 999: [1, 0, 0, 0],
 1000: [0, 0, 0, 1],
 1001: [0, 1, 0, 0],
 1002: [0, 0, 0, 1],
 1003: [0, 0, 0, 1],
 ...}

In [23]:
bestData.loc[1003, 'winner_hand']

'R'

In [24]:
new_columns = bestData
new_columns['lvl'] = np.nan
new_columns['lvr'] = np.nan
new_columns['rvl'] = np.nan
new_columns['rvr'] = np.nan

for i in new_columns.index:
    #values = []
    if new_columns.loc[i, 'winner_hand'] is 'L':
        if new_columns.loc[i, 'loser_hand'] is 'L':
            new_columns.loc[i, 'lvl'] = 1
        else: 
            new_columns.loc[i, 'lvr'] = 1
    else: 
        if new_columns.loc[i,'loser_hand'] is 'L':
            new_columns.loc[i, 'rvl'] = 1
        else: 
            new_columns.loc[i, 'rvr'] = 1
    
new_columns.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,lvl,lvr,rvl,rvr
0,2008-338,Sydney,Hard,32,A,20080107.0,1.0,104755,1.0,NaN,...,41.0,29.0,11.0,10.0,1.0,3.0,NaN,NaN,NaN,1.0
1,2008-338,Sydney,Hard,32,A,20080107.0,2.0,104098,NaN,NaN,...,37.0,23.0,7.0,9.0,2.0,6.0,NaN,NaN,NaN,1.0
2,2008-338,Sydney,Hard,32,A,20080107.0,3.0,103206,NaN,NaN,...,63.0,34.0,20.0,13.0,6.0,11.0,NaN,NaN,NaN,1.0
3,2008-338,Sydney,Hard,32,A,20080107.0,4.0,104269,8.0,NaN,...,54.0,35.0,19.0,13.0,8.0,13.0,1.0,NaN,NaN,NaN
4,2008-338,Sydney,Hard,32,A,20080107.0,5.0,102148,NaN,NaN,...,31.0,21.0,10.0,10.0,2.0,7.0,NaN,NaN,NaN,1.0

In [25]:
new_columns['lvl'].fillna(0, inplace=True)
new_columns['lvr'].fillna(0, inplace=True)
new_columns['rvl'].fillna(0, inplace=True)
new_columns['rvr'].fillna(0, inplace=True)

new_columns.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,lvl,lvr,rvl,rvr
0,2008-338,Sydney,Hard,32,A,20080107.0,1.0,104755,1.0,NaN,...,41.0,29.0,11.0,10.0,1.0,3.0,0.0,0.0,0.0,1.0
1,2008-338,Sydney,Hard,32,A,20080107.0,2.0,104098,NaN,NaN,...,37.0,23.0,7.0,9.0,2.0,6.0,0.0,0.0,0.0,1.0
2,2008-338,Sydney,Hard,32,A,20080107.0,3.0,103206,NaN,NaN,...,63.0,34.0,20.0,13.0,6.0,11.0,0.0,0.0,0.0,1.0
3,2008-338,Sydney,Hard,32,A,20080107.0,4.0,104269,8.0,NaN,...,54.0,35.0,19.0,13.0,8.0,13.0,1.0,0.0,0.0,0.0
4,2008-338,Sydney,Hard,32,A,20080107.0,5.0,102148,NaN,NaN,...,31.0,21.0,10.0,10.0,2.0,7.0,0.0,0.0,0.0,1.0

In [35]:
new_columns.groupby('winner_age').sum()
# we should make these... normal ages

,match_num,winner_seed,winner_ht,winner_rank,winner_rank_points,loser_id,loser_seed,loser_ht,loser_age,loser_rank,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,lvl,lvr,rvl,rvr
winner_age,,,,,,,,,,,,,,,,,,,,,
15.824778,7.0,0.0,185.0,589.0,29.0,102644.0,0.0,183.0,26.647502,54.0,...,53.0,35.0,18.0,17.0,0.0,8.0,0.0,0.0,1.0,0.0
15.904175,6.0,0.0,185.0,762.0,14.0,102887.0,0.0,185.0,25.453799,81.0,...,41.0,23.0,5.0,10.0,2.0,7.0,0.0,1.0,0.0,0.0
15.937029,2.0,0.0,183.0,1277.0,3.0,104655.0,0.0,180.0,22.283368,95.0,...,29.0,18.0,10.0,9.0,2.0,6.0,0.0,0.0,0.0,1.0
16.246407,51.0,0.0,193.0,768.0,42.0,103808.0,0.0,188.0,27.518138,73.0,...,112.0,84.0,26.0,22.0,10.0,13.0,0.0,0.0,0.0,1.0
16.533881,7.0,0.0,185.0,0.0,0.0,103324.0,0.0,185.0,23.882272,0.0,...,47.0,31.0,24.0,14.0,3.0,6.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36.892539,3.0,0.0,185.0,259.0,187.0,110602.0,0.0,0.0,22.140999,222.0,...,50.0,37.0,6.0,10.0,7.0,11.0,0.0,0.0,0.0,1.0
37.180014,2.0,0.0,188.0,0.0,0.0,105062.0,0.0,183.0,27.449692,59.0,...,35.0,23.0,11.0,11.0,1.0,5.0,0.0,0.0,0.0,1.0
37.237509,31.0,0.0,188.0,861.0,20.0,105583.0,0.0,180.0,24.996578,86.0,...,66.0,36.0,20.0,17.0,8.0,14.0,0.0,0.0,0.0,1.0
38.291581,7.0,0.0,203.0,263.0,246.0,106090.0,0.0,178.0,16.550308,0.0,...,20.0,13.0,18.0,9.0,1.0,4.0,0.0,1.0,0.0,0.0
38.313484,14.0,0.0,193.0,0.0,0.0,104281.0,0.0,183.0,26.004107,241.0,...,51.0,35.0,17.0,12.0,3.0,4.0,0.0,0.0,1.0,0.0

In [37]:
new_columns.groupby('tourney_id').count()

,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,lvl,lvr,rvl,rvr
tourney_id,,,,,,,,,,,,,,,,,,,,,
2000-301,31,31,31,31,31,31,31,14,5,31,...,31,31,31,31,31,31,31,31,31,31
2000-306,31,31,31,31,31,31,31,8,1,31,...,31,31,31,31,31,31,31,31,31,31
2000-308,30,30,30,30,30,30,30,16,4,30,...,30,30,30,30,30,30,30,30,30,30
2000-311,55,55,55,55,55,55,55,23,7,55,...,55,55,55,55,55,55,55,55,55,55
2000-314,30,30,30,30,30,30,30,17,0,30,...,30,30,30,30,30,30,30,30,30,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-741,47,47,47,47,47,47,47,14,4,47,...,47,47,47,47,47,47,47,47,47,47
2015-747,31,31,31,31,31,31,31,15,4,31,...,31,31,31,31,31,31,31,31,31,31
2015-773,27,27,27,27,27,27,27,16,2,27,...,27,27,27,27,27,27,27,27,27,27
2015-807,31,31,31,31,31,31,31,19,3,31,...,31,31,31,31,31,31,31,31,31,31
2015-891,27,27,27,27,27,27,27,14,5,27,...,27,27,27,27,27,27,27,27,27,27

In [40]:
new_columns.groupby(['tourney_id'])['match_num'].count()

tourney_id
2000-301    31
2000-306    31
2000-308    30
2000-311    55
2000-314    30
            ..
2015-741    47
2015-747    31
2015-773    27
2015-807    31
2015-891    27
Name: match_num, Length: 1072, dtype: int64