In [9]:
import os
import numpy as np
import pandas as pd

file_dir = './repos/atp-matches-dataset/'
data_list = []
for file in os.listdir(file_dir):
     data_list.append(pd.read_csv(file_dir + file))
        
df = pd.concat(data_list, ignore_index=True)

In [10]:
df[df['tourney_id'].str.contains('a',na=False)]

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
34437,Bernard Tomic,R,193,AUS,23.2033,18.0,1675.0,7-6(5) 7-6(5),3.0,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34439,Marin Cilic,R,198,CRO,27.2663,13.0,2405.0,2-6 7-6(4) 6-4,3.0,QF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34440,Lucas Pouille,R,NaN,FRA,21.8617,78.0,672.0,6-4 6-4,3.0,QF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34442,Tobias Kamke,R,180,GER,29.6235,277.0,185.0,6-2 6-1,3.0,R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34445,Denis Kudla,R,180,USA,23.3812,69.0,719.0,6-3 6-2,3.0,R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37820,Karen Khachanov,R,NaN,RUS,20.6954,52.0,904.0,6-4 6-7(3) 6-3 1-6 7-6(6),5.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37821,Daniil Medvedev,R,NaN,RUS,20.9692,63.0,749.0,3-6 6-4 6-1 1-0 RET,3.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37822,Nenad Zimonjic,R,190,SRB,40.6571,NaN,NaN,Walkover,3.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37823,Marco Chiudinelli,R,185,SUI,35.3895,146.0,414.0,6-4 6-3 6-1,5.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37824,Henri Laaksonen,R,NaN,SUI,24.835,127.0,473.0,4-6 6-2 6-2 7-6(1),5.0,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
check=['l_ace']
cleandata=df.dropna(subset=check)
cleandata.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
53264,2014-605,Tour Finals,Hard,8,F,20141109.0,10.0,105453,4.0,NaN,...,9.0,2.0,3.0,88.0,48.0,30.0,20.0,14.0,4.0,9.0
53265,2014-605,Tour Finals,Hard,8,F,20141109.0,11.0,103819,2.0,NaN,...,4.0,10.0,2.0,60.0,28.0,22.0,15.0,9.0,4.0,6.0
53266,2014-605,Tour Finals,Hard,8,F,20141109.0,12.0,104918,5.0,NaN,...,1.0,4.0,2.0,62.0,33.0,23.0,14.0,10.0,2.0,5.0
53267,2014-605,Tour Finals,Hard,8,F,20141109.0,14.0,104925,1.0,NaN,...,4.0,3.0,6.0,67.0,38.0,29.0,5.0,11.0,3.0,9.0
53268,2014-605,Tour Finals,Hard,8,F,20141109.0,13.0,103819,2.0,NaN,...,6.0,10.0,4.0,123.0,47.0,38.0,36.0,17.0,6.0,9.0

In [12]:
cleandata.shape

(44451, 49)

In [13]:
add_columns=cleandata
add_columns['lvl']=np.nan
add_columns['lvr']=np.nan
add_columns['rvl']=np.nan
add_columns['rvr']=np.nan

for i in add_columns.index:
    if add_columns.loc[i,'winner_hand'] is 'L':
        if add_columns.loc[i, 'loser_hand'] is 'L':
            add_columns.loc[i, 'lvl'] = 1
        else: 
            add_columns.loc[i, 'lvl'] = 1
    else:
        if add_columns.loc[i, 'loser_hand'] is 'L':
            add_columns.loc[i, 'rvr'] = 1
        else:
            add_columns.loc[i, 'rvr'] = 1
add_columns.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,lvl,lvr,rvl,rvr
0,2008-338,Sydney,Hard,32,A,20080107.0,1.0,104755,1.0,NaN,...,41.0,29.0,11.0,10.0,1.0,3.0,NaN,NaN,NaN,1.0
1,2008-338,Sydney,Hard,32,A,20080107.0,2.0,104098,NaN,NaN,...,37.0,23.0,7.0,9.0,2.0,6.0,NaN,NaN,NaN,1.0
2,2008-338,Sydney,Hard,32,A,20080107.0,3.0,103206,NaN,NaN,...,63.0,34.0,20.0,13.0,6.0,11.0,NaN,NaN,NaN,1.0
3,2008-338,Sydney,Hard,32,A,20080107.0,4.0,104269,8.0,NaN,...,54.0,35.0,19.0,13.0,8.0,13.0,1.0,NaN,NaN,NaN
4,2008-338,Sydney,Hard,32,A,20080107.0,5.0,102148,NaN,NaN,...,31.0,21.0,10.0,10.0,2.0,7.0,NaN,NaN,NaN,1.0

In [14]:
add_columns['lvl'].fillna(0, inplace=True)
add_columns['lvr'].fillna(0, inplace=True)
add_columns['rvl'].fillna(0, inplace=True)
add_columns['rvr'].fillna(0, inplace=True)

add_columns.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,lvl,lvr,rvl,rvr
0,2008-338,Sydney,Hard,32,A,20080107.0,1.0,104755,1.0,NaN,...,41.0,29.0,11.0,10.0,1.0,3.0,0.0,0.0,0.0,1.0
1,2008-338,Sydney,Hard,32,A,20080107.0,2.0,104098,NaN,NaN,...,37.0,23.0,7.0,9.0,2.0,6.0,0.0,0.0,0.0,1.0
2,2008-338,Sydney,Hard,32,A,20080107.0,3.0,103206,NaN,NaN,...,63.0,34.0,20.0,13.0,6.0,11.0,0.0,0.0,0.0,1.0
3,2008-338,Sydney,Hard,32,A,20080107.0,4.0,104269,8.0,NaN,...,54.0,35.0,19.0,13.0,8.0,13.0,1.0,0.0,0.0,0.0
4,2008-338,Sydney,Hard,32,A,20080107.0,5.0,102148,NaN,NaN,...,31.0,21.0,10.0,10.0,2.0,7.0,0.0,0.0,0.0,1.0

In [15]:
add_columns.groupby(['tourney_id'])['match_num'].count()

tourney_id
2000-301    31
2000-306    31
2000-308    30
2000-311    55
2000-314    30
            ..
2015-741    47
2015-747    31
2015-773    27
2015-807    31
2015-891    27
Name: match_num, Length: 1072, dtype: int64

In [16]:
add_columns['unique_id'] = df.tourney_id.astype(str) + df.match_num.astype(str)
print (add_columns)

      tourney_id tourney_name surface draw_size tourney_level  tourney_date  \
0       2008-338       Sydney    Hard        32             A    20080107.0
1       2008-338       Sydney    Hard        32             A    20080107.0
2       2008-338       Sydney    Hard        32             A    20080107.0
3       2008-338       Sydney    Hard        32             A    20080107.0
4       2008-338       Sydney    Hard        32             A    20080107.0
...          ...          ...     ...       ...           ...           ...
53264   2014-605  Tour Finals    Hard         8             F    20141109.0
53265   2014-605  Tour Finals    Hard         8             F    20141109.0
53266   2014-605  Tour Finals    Hard         8             F    20141109.0
53267   2014-605  Tour Finals    Hard         8             F    20141109.0
53268   2014-605  Tour Finals    Hard         8             F    20141109.0

       match_num winner_id  winner_seed winner_entry  ... l_1stWon l_2ndWon  \
0            1.0    104755          1.0          NaN  ...     29.0     11.0
1            2.0    104098          NaN          NaN  ...     23.0      7.0
2            3.0    103206          NaN          NaN  ...     34.0     20.0
3            4.0    104269          8.0          NaN  ...     35.0     19.0
4            5.0    102148          NaN          NaN  ...     21.0     10.0
...          ...       ...          ...          ...  ...      ...      ...
53264       10.0    105453          4.0          NaN  ...     30.0     20.0
53265       11.0    103819          2.0          NaN  ...     22.0     15.0
53266       12.0    104918          5.0          NaN  ...     23.0     14.0
53267       14.0    104925          1.0          NaN  ...     29.0      5.0
53268       13.0    103819          2.0          NaN  ...     38.0     36.0

       l_SvGms l_bpSaved  l_bpFaced  lvl  lvr  rvl  rvr     unique_id
0         10.0       1.0        3.0  0.0  0.0  0.0  1.0   2008-3381.0
1          9.0       2.0        6.0  0.0  0.0  0.0  1.0   2008-3382.0
2         13.0       6.0       11.0  0.0  0.0  0.0  1.0   2008-3383.0
3         13.0       8.0       13.0  1.0  0.0  0.0  0.0   2008-3384.0
4         10.0       2.0        7.0  0.0  0.0  0.0  1.0   2008-3385.0
...        ...       ...        ...  ...  ...  ...  ...           ...
53264     14.0       4.0        9.0  0.0  0.0  0.0  1.0  2014-60510.0
53265      9.0       4.0        6.0  0.0  0.0  0.0  1.0  2014-60511.0
53266     10.0       2.0        5.0  0.0  0.0  0.0  1.0  2014-60512.0
53267     11.0       3.0        9.0  0.0  0.0  0.0  1.0  2014-60514.0
53268     17.0       6.0        9.0  0.0  0.0  0.0  1.0  2014-60513.0

[44451 rows x 54 columns]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
keep = ['winner_id','loser_id','winner_hand','loser_hand','unique_id']

In [19]:
new_df = add_columns[keep]
print(new_df)

      winner_id  loser_id winner_hand loser_hand     unique_id
0        104755  104214.0           R          R   2008-3381.0
1        104098  104527.0           R          R   2008-3382.0
2        103206  103429.0           R          R   2008-3383.0
3        104269  103852.0           L          L   2008-3384.0
4        102148  103484.0           R          R   2008-3385.0
...         ...       ...         ...        ...           ...
53264    105453  103970.0           R          R  2014-60510.0
53265    103819  105683.0           R          R  2014-60511.0
53266    104918  105683.0           R          R  2014-60512.0
53267    104925  105453.0           R          R  2014-60514.0
53268    103819  104527.0           R          R  2014-60513.0

[44451 rows x 5 columns]